/* Define colors that will be used throughout the webpage */
:root {
    --sea-green: #044258;
    --light-grey: #adadad;
    --white: #ffffff;
    --black: #000000;
}

.test-me {
    display:flex
    flex-direction: column;

}

.testy-test {
    display: flex;
    flex-direction: row;
    align-self: center;
    /* center each flex item along the cross axis */
    text-align: center;
    /* horizontally center content within flex item */
}

/* Define overarching body properties that will apply to all components of the webpage unless otherwise specified */
body {
    /* Set font family to Arial, a sans-serif font */
    font-family: Arial, sans-serif;

    /* All body text should be black unless otherwise specified*/
    color: var(--black)
}

/* Define header propperties. Add padding, define font family, set background color and font color */
header {
    /* Add 10px padding for the header */
    padding: 10px;

    /* Set the header background to sea green as previously defined. */
    background-color: var(--sea-green);

    /* Set header text to white */
    color: var(--white);
}

/* Adjust text location of navegation bar */
header ul {
    /* Move text to the left */
    margin-left: -50px;

    /* Move text up */
    margin-top: -20px;
}

/* Additional styling for the navegation bar */
header ul li {
    /* Remove the list item markers */
    list-style-type: none;

    /* Display list items inline instead of vertically */
    display: inline-block;

    /* Add 15px space to the left hand side of each item */
    margin-left: 15px;
}

/* Define the properties of each section */
section {
    /* Set the thickness of the section margins such that the top margin is the same as the bottom margin */
    margin: 1rem 0 1rem 0;

    /* Add padding so that the text looks good inside of the box, more padding from the sides than from the top and bottom */
    padding: .5rem 1.5rem;

    /* Create a solid border, do not define color, color will be set by section type */
    border: 2px solid Var(--sea-green);

    display:flex;
    flex-direction:column;
}

/* Change subheader color to light grey and remove the underline from the navegation bar */
a {
    color: var(--light-grey);
    text-decoration: none;
}

/* Move the paragraph text closer to the section title */
p {    
    /* Move text up */
    margin-top: -10px;
}

h3 {
    color: Var(--sea-green)
}