/* Define colors that will be used throughout the webpage */
:root {
    --sea-green: #044258;
    --light-green: #61adc9;
    --light-greyy: #d2d2d2;
    --white: #ffffff;
    --black: #000000;
}

/* Define overarching body properties that will apply to all components of the webpage unless otherwise specified */
body {
    /* Set font family to Arial, a sans-serif font */
    font-family: Arial, sans-serif;

    /* All body text should be black unless otherwise specified*/
    color: var(--black)
}

/* Define header propperties. Add padding, define font family, set background color and font color */
.header {
    /* Add 10px padding for the header */
    padding: 10px;

    /* Set the header background to sea green as previously defined. */
    background-color: var(--sea-green);

    /* Set header text to white */
    color: var(--white);
}
